# Gradle
.gradle
**/build/
build/

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/
/local.properties
.externalNativeBuild
.cxx
/captures
/assetWizardSettings.xml
.DS_Store

# Kotlin
.kotlin/

# Keys & Secrets
apikeys.properties
app/atomcity-autopublish.json

# Specialized ignore for KMP
.konan/
