*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/deploymentTargetSelector.xml
/.idea/discord.xml
/.kotlin/errors/errors-1749500099844.log
/.kotlin/errors/errors-1749500155815.log
/.kotlin/errors/errors-1757610010148.log
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_09_06_2025_17_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_09_06_2025_17_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_09_2025_18_44_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_09_06_2025_17_25__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_09_06_2025_17_37__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_09_2025_18_44__Changes_.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_09_06_2025_17_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_09_06_2025_17_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_09_2025_18_44_[Changes]/shelved.patch
apikeys.properties